*{
    margin: 0;
    padding: 0;
}

body{
    text-align: center;
}
#plano-de-fundo{
    width: 100%;
    height: 1700px;
    background: url('/Imagens/Fogo.jpg');
}

#header{
}


h1{
    font-family: 'Road Rage', cursive;
    font-size: 130px;
    font-weight: 200;
    text-align: center;
    text-decoration: line-through 5px;
    color: #fff;
    display: inline-block;
}

#meu_nome{
    width: 40%;
    display: inline-block;
    vertical-align: middle;
    margin: 40px 0;
}

#logos_HTML_CSS{
    width: 25%;
    display: inline-block;
    vertical-align: middle;
}

#logos_JS_Node{
    width: 30%;
    display: inline-block;
    vertical-align: middle;
}

#logos_HTML_CSS img{
    height: 100px;
    margin: 20px;
}

#logos_JS_Node img{
    height: 100px;
    margin: 20px;
}

#indice li{
    display: inline-block;
    list-style: none;
    margin: 10px 0;
    padding: 0px;
}

#indice li a{
    text-decoration: none;
    color: #fff;
    border-bottom: 2px solid #fff;
    border-right: 2px solid #fff;
    padding: 0 30px;
    margin: 0 10px;
    font-family: 'Indie Flower', cursive;
    font-size: 23px;
    font-weight: 500;
}
#sobre-mim{
    height: 350px;
    margin:  80px 0 100px 0;

}
#sobre-mim img{
    float: left;
    border-radius: 50% 50%;
    margin-left: 150px;
    border: 4px solid #000;
}

#sobre-mim div{
    margin: 0 250px 0 420px;
    padding-top: 50px;
    height: 250px;
}

#sobre-mim div p{
    text-align: justify;
    color: #fff;
    font-family: 'Indie Flower', cursive;
    font-size: 23px;
    font-weight: 400;
}

#conteudo-habilidades, #conteudo-hab-desenvolvimento, #conteudo-conexoes{
    margin-bottom: 70px;
}

#conteudo-conexoes li{
    display: inline-block;
    vertical-align: middle;
}

.titulo{
    color: #eee;
    font-family: 'Lobster', cursive;
    font-size: 60px;
    margin-bottom: 20px;
}

.lista{
    color: #fff;
    font-family: 'Indie Flower', cursive;
    font-size: 23px;
    font-weight: 500;
    list-style: none;
}

#linkedin{
    width: 150px;
}

#github{
    width: 120px;
}