.projects-background-div {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
}

.projects-background-div img {
  opacity: .3;
  max-width: 90%;
  max-height: 90%;
}

.projects-div {
  align-items: center;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 30px;
  animation: appear 1s ease-in-out;
}

.projects-image-div {
  transition: 1s;
  margin: 20px;
  width: 40%;
}

.projects-image-div:hover {
  transform: rotateY(360deg);
}

.projects-image-div #vanilla-tilt-div {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative !important;
  margin: 0 !important;
  width: 100% !important;
  height: 100% !important;
  padding: 8px 4px 4px !important;
  backdrop-filter: blur(6px);
  color:  #E0D09B !important;
  box-shadow: 0 0 8px black !important;
  background: rgb(255, 255, 255, 0.1) !important;
}

.projects-image-div h3 {
  font-family: Orelega One, cursive;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 1s;
  font-size: 1.8em;
  position: absolute;
  width: 90%;
  height: 100%;
  text-align: center;
}

.projects-image-div:hover #vanilla-tilt-div h3 {
  opacity: 0;
}

.projects-image-div img {
  transition: 2s;
  width: 100%;
  opacity: 0;
}

.projects-image-div:hover #vanilla-tilt-div img {
  opacity: 1;
}

#more-projects h3 {
  color: #f72585;
}

#more-projects img {
  width: 54%;
}

@keyframes appear {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@media screen and (max-width: 910px) {
  .projects-image-div h3 {
    font-size: 1.4em;
  }
}

@media screen and (max-width: 670px) {
  .main-projects {
    padding: 0 18px;
  }
  .projects-div {
    padding: 0;
  }

  .projects-image-div {
    margin: 16px;
    width: 42%;
  }

  .projects-image-div h3 {
    font-size: 1.2em;
  }
}

@media screen and (max-width: 480px) {
  .projects-image-div {
    width: 60%;
  }
}