.skills-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.skills-section .background-skills {
  align-items: center;
  display: flex;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
  opacity: .5;
  width: 100vw;
  height: 100vh;
}

.skills-section .background-skills img {
  max-width: 90%;
  max-height: 90%;
}

.skills-section .skills-div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 30px;
}

.skills-section .skills-div div {
  align-items: center;
  display: flex;
  justify-content: center;
  backdrop-filter: blur(6px) !important;
  background: rgb(255, 255, 255, 0.1) !important;
  padding: 1% !important;
  border-radius: 8px !important;
  box-shadow: 0 0 8px black !important;
  margin: 18px !important;
  width: 16% !important;
  max-width: 180px
}

.skills-div div:hover {
  animation: jump .1s;
}

.skills-div div img {
  width: 100%;
}

@keyframes jump {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-8px);
  }

}

@media screen and (max-width: 670px) {
  .main-skills {
    padding: 0;
    margin-top: 0;
  }

  .skills-section.skills-div {
    margin-top: 0;
  }

  .skills-section .skills-div div {
    width: 20% !important;
  }
}